# Node
node_modules
.next
frontend/public/openapi.json

# Go
/bin

# Env
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
backend.hcl

# Docker
docker-compose.override.yml
