environment                 = "develop"
vpc_cidr                    = "10.10.0.0/16"
ecs_max_capacity            = 2
rds_backup_retention_period = 3
rds_deletion_protection     = false
rds_skip_final_snapshot     = true
log_retention_days          = 7
cors_allowed_origins        = "https://app.hml.giga.app.br"
enable_scheduled_shutdown   = true
shutdown_time               = "20:00"
shutdown_timezone           = "America/Sao_Paulo"
enable_admin_bootstrap      = true
bootstrap_admin_email       = "admin@middleware.local"
bootstrap_admin_name        = "Platform Administrator"
enable_basic_alarms         = false
enable_custom_domain        = true
domain_name                 = "giga.app.br"
api_subdomain               = "api.hml"
app_subdomain               = "app.hml"
route53_zone_id             = ""
manage_route53_records      = false
enable_https                = false
initial_image_tag           = "bootstrap"
web_ecs_max_capacity        = 2
