environment                 = "production"
vpc_cidr                    = "10.20.0.0/16"
ecs_max_capacity            = 4
rds_backup_retention_period = 7
rds_deletion_protection     = true
rds_skip_final_snapshot     = false
log_retention_days          = 30
cors_allowed_origins        = "https://app.giga.app.br"
enable_scheduled_shutdown   = false
enable_admin_bootstrap      = false
bootstrap_admin_email       = "admin@middleware.local"
bootstrap_admin_name        = "Platform Administrator"
enable_basic_alarms         = true
enable_custom_domain        = true
domain_name                 = "giga.app.br"
api_subdomain               = "api"
app_subdomain               = "app"
route53_zone_id             = ""
initial_image_tag           = "bootstrap"
web_ecs_max_capacity        = 4
