environment                 = "production"
vpc_cidr                    = "10.20.0.0/16"
ecs_max_capacity            = 4
rds_backup_retention_period = 7
rds_deletion_protection     = true
rds_skip_final_snapshot     = false
log_retention_days          = 30
cors_allowed_origins        = "https://app.example.com"
enable_basic_alarms         = true
enable_custom_domain        = false
domain_name                 = "example.com"
api_subdomain               = "api"
route53_zone_id             = ""
initial_image_tag           = "bootstrap"
